<<<<<<< HEAD
.circle{
    border-radius: 50%
    
}

.bg-primary {
    background-color: #c4d1df!important;
}

img{
    width: 20px;
    height: 20px;
}
=======
#signup-section {
  margin: 5em;
  width: 60%;
}

.register-margin{
  margin-top: 30%;
}
>>>>>>> upstream/master
