<section>

    <section class="conta-btnall">
       <button type="button" id="wall-button" onclick="library.getController().goWall()">Muro</button>

</section>

  <section class="text-center">
    <img class="img-thumbnail" id="cliente-photo" style="width: 200px;">
    <button type="button" id="edit_button" onclick="library.getController().editUser()">Edit</button>
    <h3>Bienvenido</h3>
    <input id="user-name" type="text" name="user-name" readonly>
  </section>

  <section id="wall">
    <label for="message">Estado</label>
    <h3><span id="user-name"></span></h3>
    <textarea id="post-field" class="form-control" name="message"></textarea>
    <button id="add-btn" type="button" onclick="library.getController().addPost()">Publicar</button>
    <select id="privacy" name="privacy">
    <option value="true">Publico
    <option value="false">Privado
    </select>
    <!-- <section id="posts" class="card text-center"> -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Posts</th>
        </tr>
      </thead>
      <tbody id="tabla">

      </tbody>
    </table>
  </section>
</section>
