
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a id="edit_button" class="nav-link" role="button" onclick="library.getController().editUser()"><i class="far fa-edit"></i>Editar nombre</a>
    </li>
    <li class="nav-item">
      <a id="wall-button"  class="nav-link"role="button" onclick="library.getController().goWall()"><i class="fas fa-users"></i> Muro</a>
    </li>
    <li class="nav-item">
      <a id="signOut-button" class="nav-link" role="button" onclick="window.redSocial.signOut()"><i class="fas fa-sign-out-alt"></i> Salir</a>
    </li>
  </ul>

<div id= "counter-profile">
      <section class="count-name">
        <section >
          <img id="cliente-photo" class="img-responsive"  data-toggle="dropdown"  ></img>
        </section>
        <input id="user-name" type="text" name="user-name" readonly>
      </section>
  </div>



<div id="count-post">
 <section id="wall">
    <h4> <label for="message">Estado</label> </h4>
    <h3><span id="user-name"></span></h3>
    <textarea id="post-field" class="form-control" name="message"></textarea>
    <button id="add-btn" class ="btn btn-light btn-outline-primary btn-sm ml-2 mt-2" type="button">Publicar</button>
    <select id="privacy" class="btn btn-light btn-sm ml-2 mt-2" name="privacy">
    <option value="true">Publico</option>
    <option value="false">Privado</option>
    </select>
    <!-- <section id="posts" class="card text-center"> -->
    <table class="table mt-2">
      <thead>
        <tr>
          <th scope="col">Posts</th>
        </tr>
      </thead>
      <tbody id="tabla">

      </tbody>
    </table>
  </section>
</div>
