<div id= "counter-wall">
    <ul class="nav justify-content-end">
        <li class="nav-item">
              <a  id="profile_button" class="dropdown-item" role="button"  onclick="library.getController().backPerfil()"><i class="far fa-user"></i> Mi perfil</a>              
            </li>  
            <Li><a>|</a></Li>   
              
             <li>
              <a id="signOut-button" class="dropdown-item" role="button" onclick="window.redSocial.signOut()"><i class="fas fa-sign-out-alt"></i> Salir</a>
            
          </li>
        </ul>

</div>

   
  <div id="wall-all" >
    <h2>Bienvenido al muro escolar</h2>  
</div>


  <div id="posts-wall" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Posts</th>
          </tr>
        </thead>
        <tbody id="tabla">
  
        </tbody>
      </table>
    </div>
