@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin-left:0px;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    }
  #tit-red{

        list-style: none;
        overflow: hidden;
    }
    ul li{
        float: left;
        display: block;
    }


 #counter-profile{

    width: 100%;
    height: 150px;
    background-color: #e5e5f0;
 }

 #posts-wall{
    position: relative;
    top:50px;
    bottom:0;
    right:0;
    left:0.7%;

 }

 #wall-all, h2{
    width: 100%;
    height: 100px;
    background-color: #e5e5f0;
    text-align: center;
    padding-top:15px;
 }

 #logo{
     width: 20px;
 }

 .logo{
    padding-top:20;
    position: center;
    width: 80;
    border-radius: 10%

}

.tit-edu{

    padding-top:20px;

  }

#tit-edulab{
    font-size:160%;
    font-weight: bold;

}


#count-post{
    position: relative;
    top:80px;
    bottom:0;
    right:0;
    left:0.7%;

}


.bg-primary {
    background-color: #7f97b5!important;
}

.hidden{
  display: none;
}

img.icon-google {
    box-shadow: 0 0 black;
    width: 20px;
}

.btn-primary{
  background-color: grey;
}

.btn-primary.like {
  background-color: red;
}

#user-name{
    /*position:relative;  */

    /* justify-content: center; */
    border: 0;
    background: 0;
    font-size:150%;
    font-weight: bold;
}

#cliente-photo {
    margin-top:25px;
    /* justify-content: center;  */
    width: 150px;
    border-radius: 50%;

}
#btn-google{
    width: 400px;
    box-shadow: 0px 3px 0px #dde4e4;

}

#btn-google, #buttons-section{
    width: 400px;

}


#contenedor{
    color: white;
    font-family: 'Poppins', sans-serif;
}

#txt-user{
font-size: 10px;
}
